
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    font-family: 'Poppins', sans-serif;
  }
  
  .login-container {
    width: 300px;
    font-family: 'Poppins', sans-serif;
  }
  
  .login-title {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-family: 'Poppins', sans-serif;
  }
  
  .form-group {
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-family: 'Poppins', sans-serif;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;
    font-family: 'Poppins', sans-serif;
  }
  
  .form-group input:focus {
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  .login {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 20px; /* Ajusta el relleno interno según sea necesario */
    font-family: 'Poppins', sans-serif;
  }
  

   img{
    filter: drop-shadow(
      0 0 10px rgba(0,0,0, .3)
    );
   }